<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Styles.Render("~/DataTables/css")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
            </div>
        </header>
        <div id="body">
            @*@RenderSection("featured", required: false)*@
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
                <table id="eventsTable" class="display">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Title</th>
                            <th>Technology</th>
                            <th>Starting Date</th>
                            <th>Registration Link</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryDatables")
        
        <script type="text/javascript">
            //$(document).ready(function () {
            //    $('#eventsTable').DataTable();
            //});

            $(document).ready(function () {

                $('#eventsTable').dataTable({
                    "bServerSide": true,
                    "sAjaxSource": "Home/GetEventsList",
                    "bProcessing": true,
                    "aoColumns": [
                                    {
                                        "sName": "ID",
                                        "bSearchable": false,
                                        "bSortable": false
                                    },
                                    { "sName": "TITLE" },
                                    { "sName": "TECHNOLOGY" },
                                    { "sName": "STARTING_DATE" },
                                    { "sName": "REGISTRATION_LINK" }
                    ]
                });
            });
        </script>
    </body>
</html>
